<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="panel panel-default">
                <div class="panel-heading">Historia</div>
                <div class="panel-body">

                    <!--Adam-->

                </div>
            </div>
        </div>


    </div>
</div>