<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-default">
                <div class="panel-heading my-class">Dowództwo</div>
                <div class="panel-body" style="text-align: center;">
                    <p>
                        <button style="margin-left: 10px;" type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#selectPlanetModal">Zaatakuj planetę
                        </button>
                    </p>
                    <div ng-show="selectedTargetFlag">
                        <table class="table table-hover">
                            <td>Wybrany cel: </td><td><b><span ng-bind="selectedTargetPlanet.name"></span></b></td>
                        </table>

                        <a ng-click="attack()" class="btn btn-danger"><i class="fa fa-rocket" aria-hidden="true"></i> Atakuj</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="panel panel-default">
                <div class="panel-heading">Twoja planeta: <b><span ng-bind="name"></span></b></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <p>Budynki:</p>
                            <table class="table table-hover">
                                <tr ng-repeat="building in buildings">
                                    <td>
                                        <p ng-bind="building.buildingName"></p>
                                        <p>Aktualny poziom: <b><span ng-bind="building.level"></span></b></p>
                                        <p>Maksymalny poziom: <b><span ng-bind="building.maxLevel"></span></b></p>
                                    </td>
                                    <td>
                                        <p style="margin-top: 20px;">
                                            <a ng-click="levelUp(building.typeId, building)" class="btn btn-sm btn-success"><i
                                                    class="fa fa-level-up" aria-hidden="true"></i> Rozbuduj budynek</a>
                                        </p>

                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-md-6">
                            <p>Flota:</p>
                            <table class="table table-hover">
                                <tr ng-repeat="ship in fleet">
                                    <td>
                                        <p style="font-weight: bold;" ng-bind="ship.name"></p>
                                        <p>Ilość: <b><span ng-bind="ship.number"></span></b></p>
                                        <p>Koszt: <b><span ng-bind="ship.buildInUnuntiumCost"></span></b> Un</p>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <input class="form-control input-sm" type="number"
                                                       ng-model="ship.buildNumber"/>
                                            </div>
                                            <div class="col-md-7">
                                                <a ng-click="buildShip(ship.typeId, ship.buildNumber)"
                                                   class="btn btn-sm btn-info"><i class="fa fa-cogs"
                                                                                  aria-hidden="true"></i> Wybuduj</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectPlanetModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wybierz pozycję planety</h4>
            </div>
            <div class="modal-body">

                <table class="table-map">
                    <tr ng-repeat="n in [] | range:10">
                        <td ng-repeat="i in [] | range:10" ng-click="choosePlanet(n,i)"
                            class="empty-space">
                            {{n}},{{i}}
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>