html, body {
    height: 100%;
}

.panel-login {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 450px;
    max-width: 550px;
}

.input-group-addon {
    background-color: #14ab85;
}

.form-login {
    margin: 15px 0px;
}

.form-login-button {
    text-align: right;
}

.page-title-header {
    color: #e8e8e8;
}