html, body {
    height: 100%;
}

.panel-login {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 450px;
    max-width: 550px;
}

.input-group-addon {
    background-color: #14ab85;
}

.form-login {
    margin: 15px 0px;
}

.form-login-button {
    text-align: right;
}

.page-title-header {
    color: #e8e8e8;
}

.table-map {
    border: 1px solid red;
    width: 100%;
}

.table-map td {
    border: 1px solid #8b8f94;
    text-align: center;
    width: 25px;
}

.table-map tr {
    height: 25px;
}

.table-map td:hover {
    background-color: #516264;
    cursor: pointer;
}