html, body {
    height: 100%;
}

.boxed-layout {
    padding: 0;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    /*background: url(../img/bg-pattern.png) repeat;*/
}

.wrapper {
    background-color: #fff;
    padding: 35px 20px 35px 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(120,120,120,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(120,120,120,1);
    box-shadow: 0px 1px 5px 0px rgba(120,120,120,1);
}


.panel-login {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 450px;
    max-width: 550px;
}

.input-group-addon {
    background-color: #14ab85;
}

.form-login {
    margin: 15px 0px;
}

.form-login-button {
    text-align: right;
}

.page-title-header {
    color: #e8e8e8;
}

.table-map {
    width: 100%;
}

.planet {
    background-color: black;
    border: 1px solid #3d3d3d;
    text-align: center;
    padding: 15px 10px;
}

.planet:hover {
    background-color: #344233;
    font-weight:bold;
    cursor: pointer;
}

.locked-planet {
    text-align: center;

    background: black url("../img/planet.png") no-repeat center;
    background-size: 70% 80%;
}

.loading {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7) url(../img/loading.gif) no-repeat center;
    background-size: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

:root{
    --main-color: #6f76a0;
}

.my-class{
    border: 2px solid var(--main-color);
}

.my-class > thead > tr > th {
    border: 2px solid var(--main-color);
}

.my-class > tbody > tr > td {
    border: 2px solid var(--main-color);
}